---
layout: default
---

<p><a href="{{ site.baseurl }}">&laquo; Back to homepage</a></p>

<h1>{{ page.title }}</h1>

<p>
  {{ page.date|date: "%d %b %Y" }} &mdash;
  {{ page.author }}
</p>

<br>

{{ content }}

<br>

<p><a href="{{ site.baseurl }}">&laquo; Back to homepage</a></p>
